.quarto
_book

/.quarto/
**/*.quarto_ipynb
.cache
.quarto-deno
.deno
# pixi environments
.pixi/*
!.pixi/config.toml
.pixi-cache

# local TeX user trees (for read-only HOME)
.texmf
.texmf-var
.texmf-config
